@charset "UTF-8";

:root {
    --amarelo: #FEF103
}

body {
    background-color: black;
    margin: 0;
}

h1 {
    color: var(--amarelo);
    text-align: center;
}

main {
    /*background-color: aqua;*/
    display: block;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

header {
    background-color: black;
    display: block;
    height: 200px;
    margin: auto;
}

header * {
    display: block;
    height: 100%;
    margin: auto;
}



div.produto {
    background-color: white;
    border-radius: 10px;
    min-height: 150px;
    margin: 20px auto;
    padding: 10px;
    width: 90%;
}

div.produto h1 {
    color: black;
}

div.produto p {
    color: black;
    margin: 10px;
    text-align: justify;
}

div.produto img {
    border: 5px outset rgba(0, 0, 0, 0.7);
}



/* Tamanhos */

div.center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 90%;
}

div.center > img {
    margin: auto;
}

.t100 {
    display: block;
    margin: auto;
    width: 70%;
    max-width: 500px;
}

.t50 {
    width: 50%;
}

.t30 {
    width: 30%;
}

.t25 {
    width: 25%;
}

.t20 {
    width: 20%;
}